/* overall page layout */
body {
	padding: 0;
}

html {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	horizontal-alignment: center;
	/* background: #4b4bf5 url("images/bg.png") repeat; */
	background: #fafafa;
}

header {
	background-color: #ffffff;
	height: 60px;
	color: #ffffff;
	text-align: center;
	padding: 5px;
}

nav {
	line-height: 20px;
	background-color: #ffffff;
	min-height: 500px;
	width: 130px;
	float: left;
	padding: 5px;
}

section {
	background-color: #ffffff;
	width: 350px;
	float: left;
	padding: 10px;
}

footer {
	background: #006633;
	color: #ffffff;
	clear: both;
	text-align: center;
	padding: 5px;
	font-weight: normal;
	font-variant: normal;
	font-size: 8pt;
	font-family: sans-serif;
	font-style: normal;
	font-stretch: normal;
	word-spacing: normal;
	letter-spacing: normal;
	vertical-align: middle;
	cursor: text;
	
}


.TaskText {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 10pt;
}

/* flextable styles */
.FlexTable {
	/*table-layout: fixed;*/
	width: 600px;
	border-top: thin hidden #444444;
	border-right: thin hidden #111111;
	border-bottom: thin hidden #111111;
	border-left: thin hidden #444444;
	background-attachment: scroll;
	background-color: White;
	background-image: images/logo.png;
}

.FlexTable-Header {
	font-weight: bold;
}

/* used for all GWT text boxes */
.gwt-TextBox {
	font-variant: normal;
	font-weight: normal;
	font-size: 8pt;
	font-family: sans-serif;
	font-style: normal;
	font-stretch: normal;
	word-spacing: normal;
	letter-spacing: normal;
	vertical-align: middle;
	background-color: White;
	cursor: text;
}

/* dependant style for text boxes */
.gwt-TextBox-invalidEntry {
	border-color: red;
}

/* used for all GWT labels */
.gwt-Label {
	font-size: 10pt;
}

/* used for all GWT Buttons */
.gwt-Button {
	font-weight: bold;
	font-size: 9pt;
}

/* used for data cell containing detailed data*/
.detail-cell1 {
	background-color: #E8E8E8;
	font-family: sans-serif;
}

.detail-cell2 {
	background-color: #F8F8F8;
	font-family: sans-serif;
}

.empty {
	background-color: white;
}

.gwt-TitleLabel {
	margin: 1px;
	border: thin;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 18px;
	font-family: sans-serif;
	font-style: italic;
	font-stretch: narrower;
	vertical-align: middle;
	text-align: center;
}

.gwt-Tree .gwt-TreeItem {
	padding: 1px 0px;
	margin: 0px;
	white-space: nowrap;
	cursor: hand;
	cursor: pointer;
}

.gwt-Tree .gwt-TreeItem-selected {
	background: #c0c0c0;
}